# Criando o Modelo

In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('casas.csv')

In [33]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [34]:
X = df.drop(columns='preco').copy()
y = df['preco'].copy()

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [36]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression()

In [37]:
X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [38]:
modelo.predict([[120, 2001, 2]])

array([191436.53503831])

# Serialização (transformando o modelo em um arquivo)

In [39]:
import pickle

pickle.dump(modelo, open('modelo.sav', 'wb'))

In [49]:
import sklearn
sklearn.__version__

'0.24.2'

# Consumindo API's utilizando a biblioteca Requests

In [41]:
import requests

In [42]:
url = "http://127.0.0.1:5000/cotacao/"

In [43]:
dados = {
    "tamanho":120,
    "ano":2001,
    "garagem":2
}

In [44]:
auth = requests.auth.HTTPBasicAuth('pedro', 'SPFC')

In [45]:
response = requests.post(url, json=dados, auth=auth)

In [46]:
response.status_code

200

In [47]:
response.text

'{\n  "preco": 191436.53503831406\n}\n'

In [48]:
response.json()

{'preco': 191436.53503831406}

# VirtuaEnv